* {
  margin: 0;
  padding: 0;
}

/* -------------------- titulo y parrafo a p ---------------*/
.titutlo-a {
  text-align: center;
  color: whitesmoke;
  background-color: #75b5cb;
  padding: 40px 0;
  margin-bottom: 10px;
}
div h5 i {
  font-size: 15px;
  font-family: "Kanit", sans-serif;
}

.titutlo-b {
  text-align: center;
  padding: 40px 0;
  margin-bottom: 10px;
}

.titutlo-p {
  margin-top: 20px;
  text-align: justify;
  font-family: "Kanit", sans-serif;
}

.blog {
  display: flex;
  justify-content: center;
}

.image-frame {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.image-frame img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.image-frame:hover img {
  transform: scale(1.1);
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-weight: bold;
}

.caption a {
  color: #fff;
  text-decoration: none;
}
