@charset "utf-8";
*{
    box-sizing: border-box;
}
body{
    MARGIN:0;
    font-family: 'Poppins', sans-serif;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(
      rgba(0,184,156,0),
      rgba(0,184,156,0)
    ), url(../imagenes/makro1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-register{
    width: 95%;
    max-width: 480PX;
    background: WHITE;
    padding: 20PX;
    border-radius: 5px;
}
.form-register{
    margin-top: 0;
    font-size: 1.7em;
    text-align: center;
}
.form__label, .form__input{
    display: block;
}
.form__label{
    width: 40%;
    font-size: 17px;
    
}
.form__input{
    width: 60%;
    padding: 10px 15px;
    font-size: 17px;
    margin: 8px 0;
    background: #eee;
    border-radius: 5px;
}
.form__file{
    font-size: 1em;
    margin: 0px 0;
    width: 0%;
}

.container--flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20PX;
    align-items: center;
}

.form__submit{
    font-size: 17px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: rgba(230, 52, 52, 0.719);
    color: white;
    border-radius: 4px;
}

.btn-opcion{
    margin-top: 10px;
    width: 70%;
}


